*{
	margin:0;
	padding:0;
}
body{
	background: rgba(180,180,255,0.15);
	color:#555;
	height: 100%;
}
.form_frame{
	display: block;
	margin:100px auto;
	background: #fff;
	width: 500px;
	padding-top:1px;
	padding-bottom: 1px;
	box-shadow: 3px 18px 50px 8px rgba(0,34,77,.08);
}
.logo{
	display: block;
	margin:50px auto;
	width:66%;
}
.frame_title{
	text-align: center;
	margin:50px auto;
	font-size: 2rem;
}
.form_input{
	width:72%;
	display: block;
	margin:10px auto;
	border: 0;
	border-bottom: 1px solid #ebeef5;
}
.form_input input{
	width:70%;
	outline: none;
	font-size: 1.2rem;
	line-height: 24px;
	padding: 14px 0;
	border: 0;
}
.form_input label{
	font-size:1.2rem;
	color:#c33;
	font-weight: 500;
	display: none;
}
.submit_btn{
	margin: 30px auto;
	margin-bottom: 50px;
	display: block;
	width:72%;
	border: 1px solid #0f88eb;
    line-height: 36px;
    text-shadow: none;
    color: #0f88eb;
    background: 0 0;
    font-size:1.2rem;
}
.success_info,.failue_info{
	display: none;
	font-size: 1.1rem;
}
.success_info p,.failue_info p{
	text-align: center;
	margin: 18px auto;
}
.success_info a{
	display: block;
	text-align: center;
	margin-bottom: 40px;
}
footer small{
	width:100%;
	display: block;
	text-align: center;
	margin:110px auto;
	margin-bottom: 30px;
}

/**
*	移动端适配
*/
@media screen and (max-width:640px){
    .form_frame{
    	width:96%;
    }
    html{font-size:10px}
}